{{- with site.Params.homeInfoParams }}
<style>
@media only screen and (max-width: 768px) {
  .foto-profile {
    transform: scale(.85);
  }
}

.first-entry {
    display: flex; 
    justify-content: center; 
    align-items: center;
    text-align: center;
    display: flex; 
    gap: 10px;  
    margin: 0 0 calc(var(--gap) * 2) 0;
}
</style>
<article class="first-entry home-info">
    <img class="foto-profile" draggable="false" src="{{ .imageUrl | absURL }}" alt="{{ .imageTitle | default "profile image" }}" title="{{ .imageTitle }}"
    height="{{ .imageHeight | default 150 }}" width="{{ .imageWidth | default 150 }}" style="border-radius: 50%;"/>
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <span style="font-size: 18px;">
        {{ .Content | markdownify }}
    </span>
    <footer class="entry-footer">
        {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
    </footer>
</article>
{{- end -}}

